*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:3000px;
}

.navbar{
    /* width:200px; */
    height:200px;
    background-color:aqua;
    /* margin: 20px; */
    /* top:20px; */
    
    /* position:relative; */
    /* margin-top: 20px; */
    /* top:100px; */
    position:fixed;
    width:100%;
    top:200px;
    /* display:none; */
}

.navbar2{
    width:200px;
    height:200px;
    background-color:rgb(236, 203, 54);
   /* position:fixed; */
   
}

.navbar3{
    width:200px;
    height:200px;
    background-color:aqua;
    margin: 20px;
    /* top:100px; */
}
